[submodule "frontend"]
	path = frontend
	url = https://github.com/RaresPopa04/JavaInterpreterProjectFrontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/RaresPopa04/JavaInterpreterProjectBackend.git
